<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.assessment.mapper.AssessmentIndicatorsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tree.clouds.assessment.model.entity.AssessmentIndicators">
        <id column="indicators_id" property="indicatorsId"/>
        <result column="parent_Id" property="parentId"/>
        <result column="indicators_name" property="indicatorsName"/>
        <result column="evaluation_method" property="evaluationMethod"/>
        <result column="user_id" property="userId"/>

        <result column="indicators_status" property="indicatorsStatus"/>
        <result column="release_date" property="releaseDate"/>
        <result column="expiration_date" property="expirationDate"/>
        <result column="assessment_year" property="assessmentYear"/>
        <result column="CREATED_USER" property="createdUser"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_USER" property="updatedUser"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="DEL" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        indicators_id, p_id, indicators_name, evaluation_method, user_id, assessment_criteria, instructions, fraction, indicators_status, release_date, expiration_date, assessment_year, CREATED_USER, CREATED_TIME, UPDATED_USER, UPDATED_TIME, DEL
    </sql>
    <update id="updateExpirationDate">
        update assessment_indicators set expiration_date=#{expirationDate} where assessment_year=#{assessmentYear}
    </update>
    <delete id="removeByYearAndType">
        delete from assessment_indicators where indicators_type=#{indicatorsType} and assessment_year=#{assessmentYear}

    </delete>
    <select id="getByYear" resultType="com.tree.clouds.assessment.model.vo.IndicatorsTreeTreeVO">
        select indicators_id as id,parent_Id,assessment_Type,indicators_name as title,sort,CREATED_TIME
        from assessment_indicators where assessment_year =#{year} and indicators_type = #{indicatorsType}
        <if test="type==1">
            and assessment_Type &lt; 2
        </if>
        UNION
        select a.detail_id as id ,a.assessment_id as parent_Id,4,a.assessment_criteria as title,4,a.CREATED_TIME
        from assessment_indicators_detail a
        left join assessment_indicators b on a.indicators_id=b.indicators_id where b.indicators_type=#{indicatorsType}
        and b.assessment_year =#{year}
        order by sort asc,CREATED_TIME asc
    </select>
    <select id="getGroupByYear" resultType="com.tree.clouds.assessment.model.entity.AssessmentIndicators">
        select * from assessment_indicators
        where (indicators_Name ='绩效任务' or indicators_Name ='机制创新'
        or indicators_Name ='正向激励加分' or indicators_Name ='绩效减分' ) and parent_Id=0
        <if test="year !=null and year !=''">
            and assessment_year =#{year}
        </if>
    </select>

    <select id="assessmentPage" resultType="com.tree.clouds.assessment.model.vo.AssessmentVO">
        select DISTINCT a.assessment_year ,a.indicators_status,a.release_date,a.expiration_date,b.user_name as
        created_User,a.indicators_type
        from assessment_indicators a left join user_manage b on a.release_user=b.user_id
        <where>
            a.assessment_Type=0
            <if test="assessmentPageVO.indicatorsType !=null">
                and a.indicators_type=#{assessmentPageVO.indicatorsType}
            </if>
            <if test="assessmentPageVO.indicatorsStatus !=null and assessmentPageVO.indicatorsStatus !=''">
                and a.indicators_Status=#{assessmentPageVO.indicatorsStatus}
            </if>
            <if test="assessmentPageVO.assessmentYear !=null and assessmentPageVO.assessmentYear !=''">
                and a.assessment_Year=#{assessmentPageVO.assessmentYear}
            </if>
        </where>
    </select>
    <select id="getByIndicatorId" resultType="com.tree.clouds.assessment.model.vo.IndicatorsTreeTreeVO">
           select indicators_id as id,parent_Id,assessment_Type,indicators_name as title,CREATED_TIME
        from assessment_indicators where  assessment_Type > 0
        	UNION
		select detail_id as id ,assessment_id as parent_Id,4,assessment_criteria as title,CREATED_TIME
		from assessment_indicators_detail
		   order by CREATED_TIME asc
    </select>
    <select id="getDistributeNumber" resultType="java.lang.Integer">
        SELECT count(DISTINCT a.detail_id) from assessment_indicators_detail a left join unit_assessment b on
        a.detail_id=b.detail_id
        where b.assessment_id is not null and b.unit_Id=#{unitId}
        <if test="type==0">
            and a.indicators_id=#{id}
        </if>
        <if test="type==1">
            and a.project_id=#{id}
        </if>
        <if test="type==2">
            and a.task_id=#{id}
        </if>
        <if test="type==3">
            and a.assessment_id=#{id}
        </if>
    </select>
    <select id="getByReportId" resultType="com.tree.clouds.assessment.model.vo.IndicatorsTreeTreeVO">
        select indicators_id as id,parent_Id,assessment_Type,indicators_name as title,sort,CREATED_TIME
        from assessment_indicators where assessment_Type > 0
        <if test="content!=null and content!=''">
            and indicators_name like "%"#{content}"%"
        </if>
        UNION
        select b.report_id as id ,assessment_id as parent_Id,4,assessment_criteria as title,4,a.CREATED_TIME
        from assessment_indicators_detail a right join indicator_report b on a.detail_id=b.detail_id
        where 1=1
        <if test="unitId!=null and unitId!=''">
            and b.unit_Id =#{unitId}
        </if>
        <if test="reportId!=null and reportId!=''">
            and b.report_id=#{reportId}
        </if>
        <if test="reportStatus==8 ">
            and b.report_progress >=1
        </if>
        <if test="reportStatus==9 ">
            and b.report_progress >=2
        </if>
        <if test="reportStatus!=null and  reportStatus ==1">
            and b.report_progress =#{reportStatus}
        </if>
        <if test="reportStatus!=null and reportStatus !=7 and reportStatus !=8 and reportStatus !=9 and  reportStatus !=1">
            and b.report_progress >=#{reportStatus}
        </if>
        <if test="reportStatus!=null and reportStatus==7">
            and b.report_status=2
        </if>
        <if test="content!=null and content!=''">
            and (a.assessment_criteria like "%"#{content}"%" or a.instructions like "%"#{content}"%")
        </if>
        order by sort asc,CREATED_TIME asc
    </select>
    <select id="getByNameAndPid" resultType="com.tree.clouds.assessment.model.entity.AssessmentIndicators">
        select * from assessment_indicators where indicators_Name=#{indicatorsName} and parent_Id=#{pid}
    </select>
    <select id="getScoreSumByYear" resultType="java.lang.Double">
        select sum(a.fraction) from assessment_indicators_detail a
        left join assessment_indicators b on  a.indicators_id=b.indicators_id
        where b.assessment_year=#{year} and b.indicators_type=#{indicatorsType} and b.indicators_name !='绩效减分'
    </select>
    <select id="getUnitNumberByYear" resultType="java.lang.Integer">
     select  count(distinct c.unit_id) from assessment_indicators a
        left join assessment_indicators_detail b on a.indicators_id=b.indicators_id
        left join unit_assessment c on c.detail_id=b.detail_id
        left join unit_manage d on d.unit_id=c.unit_id
        where a.assessment_year =#{assessmentYear} and d.unit_type=0
    </select>
    <select id="getByName" resultType="com.tree.clouds.assessment.model.vo.IndicatorsTreeTreeVO">
        select indicators_id as id,parent_Id,assessment_Type,indicators_name as title
        from assessment_indicators where assessment_Type > 0
        <if test="content!=null and content!=''">
            and indicators_name like "%"#{content}"%"
        </if>
    </select>
    <select id="getIndicatorsTreeTreeVOById"
            resultType="com.tree.clouds.assessment.model.vo.IndicatorsTreeTreeVO">
          select indicators_id as id,parent_Id,assessment_Type,indicators_name as title
        from assessment_indicators where indicators_id=#{parentId}
    </select>
    <select id="getIndicatorsTreeTreeVOByPId"
            resultType="com.tree.clouds.assessment.model.vo.IndicatorsTreeTreeVO">
            select indicators_id as id,parent_Id,assessment_Type,indicators_name as title
        from assessment_indicators where parent_id=#{id}
    </select>
    <select id="getScoreLeftTree" resultType="com.tree.clouds.assessment.model.vo.IndicatorsTreeTreeVO">
        select indicators_id as id,parent_Id,assessment_Type,indicators_name as title,sort,CREATED_TIME
        from assessment_indicators where assessment_year =#{year} and indicators_type = #{unitType}
         and assessment_Type = 0
        UNION
        select a.indicators_id as id,a.parent_Id,a.assessment_Type,a.indicators_name as title,4,a.CREATED_TIME
        from assessment_indicators a
        left join assessment_indicators_detail b on a.indicators_id=b.project_id
        left join indicator_report c on c.detail_id=b.detail_id
        where a.assessment_year =#{year} and a.indicators_type = #{unitType}
         and a.assessment_Type = 1 and c.report_id is not null and c.unit_id=#{unitId} and c.report_progress>=#{progress}
           order by sort asc,CREATED_TIME asc
    </select>
    <select id="getTaskAndExpertUnitId" resultType="java.lang.Integer">
        select count(*) from assessment_indicators where parent_Id=#{indicatorsId} and (unit_id=#{unitId} or unit_ids like "%"#{unitId}"%")
    </select>

</mapper>
