<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.assessment.mapper.AssessmentIndicatorsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tree.clouds.assessment.model.entity.AssessmentIndicators">
        <id column="indicators_id" property="indicatorsId"/>
        <result column="parent_Id" property="parentId"/>
        <result column="indicators_name" property="indicatorsName"/>
        <result column="evaluation_method" property="evaluationMethod"/>
        <result column="user_id" property="userId"/>
        <result column="assessment_criteria" property="assessmentCriteria"/>
        <result column="instructions" property="instructions"/>
        <result column="fraction" property="fraction"/>
        <result column="indicators_status" property="indicatorsStatus"/>
        <result column="release_date" property="releaseDate"/>
        <result column="expiration_date" property="expirationDate"/>
        <result column="assessment_year" property="assessmentYear"/>
        <result column="CREATED_USER" property="createdUser"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_USER" property="updatedUser"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="DEL" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        indicators_id, p_id, indicators_name, evaluation_method, user_id, assessment_criteria, instructions, fraction, indicators_status, release_date, expiration_date, assessment_year, CREATED_USER, CREATED_TIME, UPDATED_USER, UPDATED_TIME, DEL
    </sql>
    <update id="updateExpirationDate">
        update assessment_indicators set expiration_date=#{expirationDate} where assessment_year=#{assessmentYear}
    </update>
    <select id="getByYear" resultType="com.tree.clouds.assessment.model.vo.indicatorsTreeTreeVO">
        select indicators_id as id,parent_Id,assessment_Type,indicators_name as title
        from assessment_indicators where assessment_year =#{year}
        <if test="type==1">
            and assessment_Type &lt; 2
        </if>

    </select>
    <select id="assessmentPage" resultType="com.tree.clouds.assessment.model.vo.AssessmentVO">
        select DISTINCT assessment_year ,indicators_status,release_date,expiration_date,CREATED_USER from assessment_indicators
    </select>
    <select id="getByIndicatorId" resultType="com.tree.clouds.assessment.model.vo.indicatorsTreeTreeVO">
           select indicators_id as id,parent_Id,assessment_Type,indicators_name as title
        from assessment_indicators where  assessment_Type > 0
        	UNION
		select detail_id as id ,assessment_id as parent_Id,4,assessment_criteria as title	from assessment_indicators_detail
    </select>

</mapper>
