<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.assessment.mapper.AssessmentIndicatorsDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tree.clouds.assessment.model.entity.AssessmentIndicatorsDetail">
        <id column="detail_id" property="detailId"/>
        <result column="project_id" property="projectId"/>
        <result column="task_id" property="taskId"/>
        <result column="assessment_id" property="assessmentId"/>
        <result column="assessment_criteria" property="assessmentCriteria"/>
        <result column="instructions" property="instructions"/>
        <result column="fraction" property="fraction"/>
        <result column="CREATED_USER" property="createdUser"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_USER" property="updatedUser"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="DEL" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        detail_id, project_id, task_id, assessment_id, assessment_criteria, instructions, fraction, file_id, CREATED_USER, CREATED_TIME, UPDATED_USER, UPDATED_TIME, DEL
    </sql>
    <select id="getScoreByType" resultType="java.lang.Double">
        select sum(a.fraction) from assessment_indicators_detail a
        left join assessment_indicators b on a.indicators_id=b.indicators_id
        <where>
            b.assessment_year=#{year}
            <if test="type==0">
                and a.indicators_id=#{id}
            </if>
            <if test="type==1">
                and a.project_id=#{id}
            </if>
            <if test="type==2">
                and a.task_id=#{id}
            </if>
            <if test="type==3">
                and a.assessment_id=#{id}
            </if>
            <if test="type==4">
                and a.detail_id=#{id}
            </if>
        </where>
    </select>
    <select id="getScoreByUnit" resultType="java.lang.Double">
        select sum(fraction) from unit_assessment a
        left join assessment_indicators_detail b on a.detail_id=b.detail_id
        <where>
            a.unit_id=#{unitId} and b.indicators_id=#{id}
        </where>
    </select>
    <select id="getCountByType" resultType="java.lang.Integer">
        select count(a.detail_id) from assessment_indicators_detail a
        left join assessment_indicators b on a.indicators_id=b.indicators_id
        <where>
            b.assessment_year=#{year}
            <if test="type==0">
                and a.indicators_id=#{id}
            </if>
            <if test="type==1">
                and a.project_id=#{id}
            </if>
            <if test="type==2">
                and a.task_id=#{id}
            </if>
            <if test="type==3">
                and a.assessment_id=#{id}
            </if>
        </where>
    </select>
    <select id="getByNameAndPid"
            resultType="com.tree.clouds.assessment.model.entity.AssessmentIndicatorsDetail">
        select * from assessment_indicators_detail where  assessment_id=#{parentId} and assessment_criteria=#{name}
    </select>
    <select id="getByReportId" resultType="com.tree.clouds.assessment.model.entity.AssessmentIndicatorsDetail">
        select b.* from indicator_report a left join assessment_indicators_detail b on a.detail_id =b.detail_id
        where a.report_id=#{reportId}
    </select>
    <select id="getByParentId" resultType="com.tree.clouds.assessment.model.vo.IndicatorsTreeTreeVO">
         select report_id as id ,assessment_id as parent_Id,4 as assessment_type,assessment_criteria as title
        from indicator_report a
        left join assessment_indicators_detail b on a.detail_id =b.detail_id
        where b.assessment_id=#{id} and a.unit_id=#{unitId}
    </select>

</mapper>
