<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.assessment.mapper.ComprehensiveAssessmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tree.clouds.assessment.model.entity.ComprehensiveAssessment">
        <id column="comprehensive_id" property="comprehensiveId" />
        <result column="task_score" property="taskScore" />
        <result column="innovation_score_sum" property="innovationScoreSum" />
        <result column="performance_score" property="performanceScore" />
        <result column="user_score" property="userScore" />
        <result column="innovation_score" property="innovationScore" />
        <result column="score_sum" property="scoreSum" />
        <result column="comprehensive_status" property="comprehensiveStatus" />
        <result column="remark" property="remark" />
        <result column="CREATED_USER" property="createdUser" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_USER" property="updatedUser" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="DEL" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comprehensive_id, comprehensive_year, task_score, innovation_score_sum, positive_score, performance_score, user_score, expert_score, innovation_score, score_sum, evel_name, comprehensive_status, remark, CREATED_USER, CREATED_TIME, UPDATED_USER, UPDATED_TIME, DEL
    </sql>
    <select id="performancePage" resultType="com.tree.clouds.assessment.model.entity.ComprehensiveAssessment">
            select  a.*,b.unit_name,c.evel_name as evelId from comprehensive_assessment a
        left join unit_manage b on a.unit_id=b.unit_id
        left join evaluation_evel c on a.evel_id =c.evel_id
    </select>
    <select id="getCompleteDate" resultType="com.tree.clouds.assessment.model.vo.AssessmentConditionVO">
        select a.unit_id,b.illustrate,c.assessment_criteria  ,d.assessment_year,d.indicators_name  from indicator_report a
        left join score_record b on a.report_id=b.report_id
        left join assessment_indicators_detail c on c.detail_id=a.detail_id
        left join assessment_indicators d on d.indicators_id=a.indicators_id
        where a.unit_id=#{unitId} and d.assessment_year=#{assessmentYear}
    </select>

</mapper>
