<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.assessment.mapper.IndicatorReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tree.clouds.assessment.model.entity.IndicatorReport">
        <id column="report_id" property="reportId"/>
        <result column="unit_id" property="unitId"/>
        <result column="user_score" property="userScore"/>
        <result column="illustrate" property="illustrate"/>
        <result column="CREATED_USER" property="createdUser"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_USER" property="updatedUser"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="DEL" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        report_id, unit_id, user_score, illustrate, CREATED_USER, CREATED_TIME, UPDATED_USER, UPDATED_TIME, DEL
    </sql>
    <select id="getSubmitNumber" resultType="java.lang.Integer">
 select count(*) from  file_info where biz_id in(select report_id from indicator_report where unit_id=#{unit_id})
    </select>

    <select id="getStatusNumber" resultType="java.lang.Integer">
        select count(*) from audit_log a
        left join indicator_report b on a.report_id=b.report_id
        where a.indicators_status=#{status} and unit_id=#{unitId}
        <if test="progress!=null">
            and report_progress=#{progress}
        </if>
    </select>
    <select id="getErrorList" resultType="com.tree.clouds.assessment.model.entity.IndicatorReport">
          select * from indicator_report where report_Status=2 and unit_id=#{unitId}
    </select>
    <select id="getListByType" resultType="com.tree.clouds.assessment.model.entity.IndicatorReport">
        select * from indicator_report
	 where report_Progress=3 and report_status=1

    </select>
    <select id="getUserScoreByUnit" resultType="java.lang.Double">
       select sum(a.user_score) from indicator_report a
       left join assessment_indicators b on a.indicators_id=b.indicators_id
          where  b.assessment_Year=#{assessmentYear} and a.unit_id=#{unitId} and b.indicators_name!='绩效减分'
    </select>
    <select id="getMaterial" resultType="java.lang.Integer">
        select count(b.FILE_ID) from indicator_report a
        left join file_info b on a.report_id=b.biz_Id
        where
        <if test="type==0">
            a.report_Progress> 0
        </if>
        <if test="type==1">
            a.report_Progress> 1
        </if>
        <if test="type==2">
            a.report_Status= 2
        </if>
        <if test="unitId != null">
            and a.unit_Id= #{unitId}
        </if>
    </select>
    <select id="getAssessmentList" resultType="com.tree.clouds.assessment.model.vo.AssessmentListVO">
        select a.report_id,a.UPDATED_TIME as
        assessmentDate,a.report_Progress,b.assessment_year,e.UNIT_NAME,c.USER_NAME as
        createdUser,c.PHONE_NUMBER,b.indicators_name,f.assessment_criteria from indicator_report a
        left join assessment_indicators b on a.indicators_id=b.indicators_id
        left join user_manage c on a.CREATED_USER=c.user_id
        left join unit_user d on a.CREATED_USER= d.user_id
        left join unit_manage e on e.UNIT_ID= a.unit_ID
        left join assessment_indicators_detail f on f.detail_id= a.detail_id
        left join audit_log g on g.report_id= a.report_id
        <if test="unitId!=null">
            where a.unit_id=#{unitId}
        </if>
        ORDER BY a.unit_id asc,a.CREATED_TIME desc

    </select>
    <select id="getReviewedNumber" resultType="java.lang.Integer">
        select COUNT(*) from indicator_report a
        left join assessment_indicators_detail b on a.detail_Id=b.detail_Id
        left join assessment_indicators c on c.indicators_id=b.task_id
        left join score_record d on a.report_id=d.report_id
        where a.unit_id=#{unitId} and c.assessment_year=#{year}
        <if test="expertUnitId!=null">
            and c.unit_id =#{expertUnitId}
        </if>
        <if test="type==0">
            and (d.expert_status=0 or d.expert_status is null) and a.report_progress=2
        </if>
        <if test="type==1">
            and d.expert_status=1
        </if>
        <if test="type==2">
            and a.report_progress=3
        </if>
    </select>
    <select id="getDistributeSum" resultType="java.lang.Double">
        select sum(b.fraction) from indicator_report a
        left join assessment_indicators_detail b on a.detail_id=b.detail_id
        left join assessment_indicators c on c.indicators_id=b.indicators_id
        where a.unit_id=#{unitId} and c.assessment_year=#{year} and c.indicators_name !='绩效减分'
    </select>
    <select id="getAssessmentIndicatorsByReportId"
            resultType="com.tree.clouds.assessment.model.entity.AssessmentIndicators">
        select c.* from  indicator_report a
        left join assessment_indicators_detail b on a.detail_id=b.detail_id
        left join assessment_indicators c on c.indicators_id=b.indicators_id
        where a.report_id =#{reportId}
    </select>
    <select id="getAuditNumber" resultType="java.lang.Integer">
        select count(*) from  indicator_report a
        left join assessment_indicators b on b.indicators_id=a.indicators_id
        left join audit_log c on c.report_id=a.report_id
        where b.assessment_year =#{year} and a.unit_id=#{unitId} and  c.indicators_status=1
    </select>
    <select id="getMaterialReport" resultType="java.lang.Integer">
        select count(b.FILE_ID) from indicator_report a
        left join file_info b on a.report_id=b.biz_Id
        left join assessment_indicators_detail c on a.detail_id=c.detail_id
        left join assessment_indicators d on c.task_id=d.indicators_id
        where
        <if test="type==0">
            a.report_Progress> 0
        </if>
        <if test="type==1">
            a.report_Progress> 1
        </if>
        <if test="unitId != null">
            and a.unit_Id= #{unitId}
        </if>
        <if test="expertUnit != null">
            and d.unit_Id= #{expertUnit}
        </if>
    </select>
    <select id="getReportSum" resultType="java.lang.Integer">
        select count(a.report_id) from indicator_report a
        where
        <if test="type==0">
            a.report_Progress> 0
        </if>
        <if test="type==1">
            a.report_Progress> 1
        </if>
        <if test="type==2">
            a.report_Status= 2
        </if>
        <if test="unitId != null">
            and a.unit_Id= #{unitId}
        </if>
    </select>
    <select id="getReport2Sum" resultType="java.lang.Integer">
        select count(a.report_id) from indicator_report a
        left join assessment_indicators_detail c on a.detail_id=c.detail_id
        left join assessment_indicators d on c.task_id=d.indicators_id
        where
        <if test="type==0">
            a.report_Progress> 0
        </if>
        <if test="type==1">
            a.report_Progress>1
        </if>
        <if test="type==5">
            a.report_Progress>= 2
        </if>
        <if test="type==6">
            a.report_Progress>=3
        </if>
        <if test="unitId != null">
            and a.unit_Id= #{unitId}
        </if>
        <if test="expertUnit != null">
            and d.unit_Id= #{expertUnit}
        </if>
    </select>

</mapper>
