<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.assessment.mapper.SubmitLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tree.clouds.assessment.model.entity.SubmitLog">
        <id column="submit_id" property="submitId" />
        <result column="indicators_Name" property="indicatorsName" />
        <result column="assessment_Criteria" property="assessmentCriteria" />
        <result column="evaluation_method" property="evaluationMethod" />
        <result column="indicators_Status" property="indicatorsStatus" />
        <result column="remark" property="remark" />
        <result column="expiration_Date" property="expirationDate" />
        <result column="CREATED_USER" property="createdUser" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_USER" property="updatedUser" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="DEL" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        submit_id, indicators_Name, assessment_Criteria, evaluation_method, indicators_Status, remark, expiration_Date, CREATED_USER, CREATED_TIME, UPDATED_USER, UPDATED_TIME, DEL
    </sql>
    <select id="submitLogPage" resultType="com.tree.clouds.assessment.model.vo.SubmitLogVO">
        select b.user_name as updated_User,a.* from submit_log a left join user_manage b on a.CREATED_USER=b.user_id
        <where>
        1=1
            <if test="submitLogPageVO.startTime!=null and submitLogPageVO.startTime!=''">
              and  a.evaluation_method>=#{submitLogPageVO.startTime}
            </if>
            <if test="submitLogPageVO.endTime!=null and submitLogPageVO.endTime!=''">
                and  a.evaluation_method &lt;= #{submitLogPageVO.endTime}
            </if>
            <if test="submitLogPageVO.status!=null and submitLogPageVO.status!=''">
                and  a.indicators_Status = #{submitLogPageVO.status}
            </if>
            <if test="submitLogPageVO.reportId!=null and submitLogPageVO.reportId!=''">
                and  a.report_id = #{submitLogPageVO.reportId}
            </if>
            <if test="submitLogPageVO.unitId!=null and submitLogPageVO.unitId!=''">
                and  a.unit_Id = #{submitLogPageVO.unitId}
            </if>
        </where>
        order by a.CREATED_TIME desc
    </select>

</mapper>
