<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.assessment.mapper.UnitAssessmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tree.clouds.assessment.model.entity.UnitAssessment">
        <id column="assessment_id" property="assessmentId"/>
        <result column="indicators_id" property="indicatorsId"/>
        <result column="unit_id" property="unitId"/>
        <result column="CREATED_USER" property="createdUser"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_USER" property="updatedUser"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="DEL" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        assessment_id, indicators_id, unit_id, CREATED_USER, CREATED_TIME, UPDATED_USER, UPDATED_TIME, DEL
    </sql>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from unit_assessment
        where detail_id in (select indicators_id from assessment_indicators where assessment_Year=#{assessmentYear})
    </select>
    <select id="getDistributeNumber" resultType="java.lang.Integer">
      select count(*) from unit_assessment where unit_id=#{unitId}
    </select>
    <select id="getCountUnit" resultType="java.lang.Integer">
        select count(*) from unit_assessment a
        left join assessment_indicators_detail b on a.detail_id=b.detail_id
        left join assessment_indicators c on c.indicators_id=b.indicators_id
        where a.unit_id=#{unitId} and c.assessment_year=#{year}
    </select>
    <select id="getByYear" resultType="com.tree.clouds.assessment.model.entity.UnitAssessment">
        select a.*,c.indicators_id from unit_assessment a
        left join assessment_indicators_detail b on a.detail_id =b.detail_id
        left join assessment_indicators c on b.indicators_id=c.indicators_id
        where c.assessment_year=#{assessmentYear}
    </select>
    <select id="isRelease" resultType="java.lang.Integer">
        select b.indicators_status from assessment_indicators_detail a
        left join assessment_indicators b on a.indicators_id=b.indicators_id
        where a.detail_id=#{detailId}
    </select>
    <select id="getExpertDistributeNumber" resultType="java.lang.Integer">
        select count(c.assessment_id) from assessment_indicators a
            LEFT JOIN assessment_indicators_detail b on a.indicators_id=b.task_id
            LEFT JOIN assessment_indicators d on b.project_id=d.indicators_id
            LEFT JOIN unit_assessment c on c.detail_id=b.detail_id
            where a.unit_id=#{expertUnit} and c.unit_id=#{unitId} and d.evaluation_method=1
    </select>
    <select id="getScoreByUnitIdAndYear" resultType="java.lang.Double">
        select sum(b.fraction) from unit_assessment a
          left join assessment_indicators_detail b on a.detail_id=b.detail_id
         left join assessment_indicators c on c.indicators_id=b.indicators_id
         where a.unit_id=#{unitId} and c.assessment_year=#{year}
    </select>


</mapper>
